{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="mt-5">
    <h1>Categories</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>
                <a href="#"
                   class="btn btn-sm btn-primary">
                    Update
                </a>

                <form action="#"
                      method="post"
                      style="display:inline-block"
                      onsubmit="return confirm('Are you sure?');">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
          </tr>
        </tbody>
    </table>
</div>
{% endblock %}
